body{
    background:black;
}
.translationWrapper{
    background: black;
}
.translationWrapper img{
    -webkit-filter: invert(1);
    filter: invert(1);
}
.leftJustified, .centeredText, .rightJustified, .textSize{
    color:white;
}
.loading{
    background: white;
    color:black;
}
.controls{
    background:black;
}